@import '/vendor/filament/filament/resources/css/theme.css';

.fi-sidebar {
    background: linear-gradient(
        180deg,
        #eef4ff 0%,
        #ffffff 100%
    );
}

.fi-sidebar-header {
    border-bottom: 1px solid #dbeafe;
}

.fi-topbar {
    background: rgba(255,255,255,.9);
    backdrop-filter: blur(16px);
}

.fi-main {
    background:
        radial-gradient(circle at top left,
        rgba(37,99,235,.08),
        transparent 35%),
        radial-gradient(circle at top right,
        rgba(250,204,21,.12),
        transparent 30%),
        #f8fafc;
}

.fi-section,
.fi-ta-ctn,
.fi-wi-widget {
    border-radius: 20px !important;
    box-shadow:
        0 10px 25px rgba(0,0,0,.05) !important;
}

.fi-sidebar-item-active a {
    background: linear-gradient(
        135deg,
        #2563eb,
        #1d4ed8
    ) !important;

    color: white !important;
}